* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
header {
    height: 100px;
    width: 100%;
    background-image: url('./../img/pattern.png');
    background-color: rgb(78, 160, 255);
    background-size: 20%;  
}

#logo {
    width: 10%;
    height: auto;
    margin: 40px 0 10px 5px;
}

/* MAIN */

main {
    margin-left: 8px;
    width: 77%;
}
/* section .first-title */
.first-title {
    padding: 10px 35% 10px 0;
}

#title {
    font-size: 50px;
}

#sub-title {
    color: #808080;
    font-size: 20px;
    font-weight: 600;
}

#title-link {
    color: #2FAFE7;
    text-decoration: none;
}

#date-title {
    color: #9A9A9A;
}

/* section .photos */
.photos {
    font-size: 15px;
}

.photobox {
    margin-right: 10px;
    width: auto;
    height: 500px;
}

/* section description */
.description {
    font-size: 20px;
}

.paragraph {
    margin: 20px 0px;
}

ul {
    margin-left: 20px;
    margin-bottom: 20px;
}

/* section table-colored */

table {
    width: 100%;
    font-size: 20px;
    text-align: left;
    border-collapse: collapse;
}

thead {
    background-color: #20A9E5;
    color: white;
}

td {
    height: 30px;
}

.col3 {
    width: 50%;
}

.trow-color {
    background-color: #B1E5F2;
}

/* FOOTER */


