* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
header {
    height: 100px;
    width: 100%;
    background-image: url('./../img/pattern.png');
    background-color: rgb(78, 160, 255);
    background-size: 20%;  
}

#logo {
    width: 10%;
    height: auto;
    margin: 40px 0 10px 5px;
}

/* MAIN */

main {
    margin-left: 8px;
}
/* section .first-title */
.first-title {
    padding: 10px 35% 10px 0;
}

#title {
    font-size: 50px;
}

#sub-title {
    color: #808080;
    font-size: 20px;
    font-weight: 600;
}

#title-link {
    color: #2FAFE7;
    text-decoration: none;
}

#date-title {
    color: #9A9A9A;
    font-weight: 550;
}

/* section .photos */
.photos {
    font-size: 14px;
}

.photobox {
    margin-right: 10px;
    width: auto;
    height: 600px;
}


/* FOOTER */


